.menu {
    display: flex;
    max-width: 100%;
    height: auto;
    text-align: justify;
}

.hotels {
    margin: 20px;
}

#btn-link {
    /* background-color: 214, 214, 33; */
    color: white;
}

.hotels {
    padding-right: 20px;
}

h3 {
    color: white;
    font-family: 'Racing Sans One', cursive;
    margin-left: 20px;
}

#add-items {
    margin-right: 60px;
}

.btn btn-primary {
    background-color: #cf6d17;
}

#labeling {
    font-family: 'Racing Sans One', cursive;
    color: white;
}

.buttons {
    display: inline-block;
    width: 80%;
    margin-left: 20px;
}

.float-right {
    width: 22%;
}

.Gif {
    width: 120%;
    margin: 20px;
}

.gifall {
    float: left;
    width: 400px;
    margin-left: 10px;
}

.gifanchor {
    visibility: hidden;
}

.gifanchor:after {
    color: white;
    content: 'Show on the map';
    visibility: visible;
    display: block;
    background-color: rgb(226, 226, 30);
    margin-right: 200px;
}

.gifall img:hover {
    transform: scale(2.1) translateX(40px);
    transition: transform ease-in .3s;
    z-index: 1000;
}

.gifall img {
    transform: scale(1);
    transition: transform ease-in .15s;
    z-index: 50;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 10px;
    font-family: 'Racing Sans One', cursive;
    font-size: 20px;
}

.main-nav li {
    display: inline-block;
    margin: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

#geocode #map {
    margin-top: 23px;
    display: none;
    margin-left: 20px;
    float: left;
    width: 50%;
    /* margin-bottom: 3px; */
    height: 450px;
    background: grey;
}

#geocode #panel {
    padding-left: -20px;
    display: none;
    margin-right: 40px;
    padding-top: 30px;
    color: white;
    font-size: 15px;
    float: right;
    width: 40%;
    min-height: 450px;
    max-height: 450px;
    border: 2px solid yellow;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#Restaurant {
    margin-left: 20px;
    color: rgb(214, 214, 33);
    font-size: 20px;
    font-family: 'Racing Sans One', cursive;
    padding-bottom: 15px;
    margin-top: 15px;
}

div.wrapper {
    width: 100%;
}

strong {
    font-size: 18px;
}

.btn-primary {
    background-color: #cf6d17;
    font-family: 'Racing Sans One', cursive;
}